.root {
    -fx-background-color: transparent;
}

#new_game_btn {
    -fx-font-size: 40px;
}

#offline_mode_btn {
    -fx-font-size: 40px;
}

#quit_btn {
    -fx-font-size: 50px;
}

#theme_label {
    -fx-font-size: 40px;
}

#theme_1_btn {
    -fx-font-size: 40px;
}

#theme_2_btn {
    -fx-font-size: 40px;
}

#theme_3_btn {
    -fx-font-size: 40px;
}

#theme_4_btn {
    -fx-font-size: 40px;
}

#back_btn {
    -fx-font-size: 40px;
}

#feedback_1 {
    -fx-font-size: 20px;
}

#feedback_2 {
    -fx-font-size: 20px;
}

#user_input {
    -fx-font-size: 40px;
    -fx-font-family: "Fleftex";
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
}

#custom_id_text_field {
    -fx-font-size : 20px;
    -fx-font-family: "Fleftex";
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
}

#help_text {
    -fx-font-size: 40px;
}

#session-gui-dictionary {
    -fx-font-size: 20px;
}

#session-gui-rounds {
    -fx-font-size: 20px;
}

#session-gui-solution {
    -fx-font-size: 20px;
}

#session-gui-back {
    -fx-font-size: 20px;
}

.label {
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Fleftex";
    -fx-background-color: transparent;
}

.button {
    -fx-font-size: 40px;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Fleftex";
    -fx-font-weight: bolder;
    -fx-background-color: transparent
}

.button:hover {
    -fx-effect: dropshadow( gaussian , rgb(74, 228, 255) , 20, 0.4, 0, 0 );
}

.vbox {
    -fx-fill: transparent;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-font-size: 40px;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Fleftex";
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.list-cell:hover {
    -fx-effect: innershadow( gaussian , #653fee , 20, 0.7, 0, 0 );
}

.list-cell:empty:hover {
    -fx-background-color: transparent;
}

.list-cell:filled:selected {
    -fx-text-fill: #311e75;
}

.list-view {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-fill: transparent;
    -fx-background-color: transparent;
}

.scroll-bar > .corner {    
    -fx-background-color: #2c365d ;
}